body
{
    width: auto;
    background-image: url(img/descktop.png);
    
}

main{
    width: 100%;
    height: 100%;
}
.logo{
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}
main section{
    width: 940px;
    padding: 0 auto;
}
.titulo{
    position: absolute;
    left: 400px;
    top: 20px;
    font-weight: bold;
    font-size: 27px;
    line-height: 100%;
    color: #b7d410;
}
.subtitulo{
    position: absolute;
    left: 425px;
    top: 60px;
    font-weight: bold;
    font-size: 12px;
    line-height: 100%;
    color: #b7d410;
}
p a{
    font-size: 15px;
    color: #b7d410;
    text-decoration: none;
}
main textarea{
    border: none;
    background: #0a710f9a;  
}
.texto-nuevo{
    position: absolute;
    width: 450px;
    height: 200px;
    left: 250px;
    top: 40%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    color: #000000;
    resize: none;
}
.principal-dos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 450px;
    height: 18px;
    top: 450px;
    left: 250px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    color: rgb(224, 13, 13);
}
.signo{
    width: 12px;
    height: auto;
}
.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 450px;
    height: 70px;
    left: 250px;
    top: 470px;
}
.encriptar{
    background-color: #0a710f;
    padding: 5px 10px;
    margin: auto;
    width: 200px;
    height: 45px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    color: #D8DFE8;
    box-shadow: 2px 2px 1px 1px #000000;
}
.desencriptar{
    background-color: #1013d4;
    padding: 5px 10px;
    margin: auto;
    width: 200px;
    height: 45px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    color: #000000;
    box-shadow: 2px 2px 1px 1px #000000;
}
.texto-encriptado{
    border-radius: 10px;
    background-color: white;
    position: absolute;
    width: 250px;
    height: 460px;
    left: 800px;
    top: 70px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    resize: none;
}
.muneco{
    position: absolute;
    width: 160px;
    height: auto;
    left: 855px;
    top: 200px;
}
.secundario-dos{
    position: absolute;
    width: 160px;
    height: auto;
    left: 855px;
    top: 365px;
}
.frase{
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: rgb(218, 81, 18);
}
.mensaje{
    padding: 10px;
    font-family: 'Inter';
    font-weight: 550;
    font-size: 10px;
    line-height: 100%;
    text-align: center;
    color: rgb(236, 10, 10);
}
.exito-encriptar{
    display: none;
    position: absolute;
    width: 160px;
    height: auto;
    left: 855px;
    top: 425px;
    font-family: 'Inter';
    font-weight: 550;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    color: #0a710f;
}
.exito-desencriptar{
    display: none;
    position: absolute;
    width: 160px;
    height: auto;
    left: 855px;
    top: 425px;
    font-family: 'Inter';
    font-weight: 550;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    color: rgb(87, 87, 87);
}
.copiar{
    display: none;
    position: absolute;
    left: 825px;
    top: 470px;
    background-color: white;
    padding: 5px 10px;
    width: 200px;
    height: 45px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    color: #6e6e6e;
    box-shadow: 1px 1px 1px 1px #6e6e6e;
}
footer
{
    width: auto;
    height: 30px;
    background-color: #0a710fa8;
    text-align: center;
    padding:40px;
}
.copyright
{
    color:#FFFFFF;
    font-size: 13px;
}
.redes-sociales
{
    position: relative;
    right: 0;
}
.links
{
    display: inline-block;
    padding: 20px 90px;
    font-weight: bold;
    font-size: 14px;
}
.links a
{
    color: white;
    text-decoration: none;
}

/* funciones hover*/

p a:hover{
    transition: 500ms;
    font-size: 16px;
    color: #040025;
    text-decoration: underline;
}
.encriptar:hover{
    transition: 300ms;
    font-size: 15px;
    background-color: #1013d4;
    color: #ffffff;
    text-decoration: underline;
    transform: scale(1.1, 1.1);
}
.desencriptar:hover{
    transition: 300ms;
    font-size: 15px;
    color: #ffffff;
    background-color: #0a710f;
    text-decoration: underline;
    transform: scale(1.1, 1.1);
}
.copiar:hover{
    transition: 500ms;
    font-size: 15px;
    color: #1f008f;
    text-decoration: underline;
    transform: scale(1.1, 1.1);
}
nav a:hover {
    color: #fffb00;
    text-decoration: underline;
    transform: scale(1.2, 1.2);
}

/*ajustes multiplataforma*/

@media screen and (max-width:1024px){
    .texto-nuevo, .principal-dos, .botones{
        left: 150px;
    }
    .texto-encriptado{
        left: 700px;
    }
    .muneco, .secundario-dos, .exito-encriptar, .exito-desencriptar {
        left: 755px;
    }
    .copiar{
        left: 725px;
    }
}
@media screen and (max-width:920px){
    .titulo, .subtitulo{
        left: 250px;
    }
    .texto-nuevo, .principal-dos, .botones{
        width: 400px;
        left: 100px;
    }
    .texto-encriptado{
        left: 600px;
    }
    .muneco, .secundario-dos, .exito-encriptar, .exito-desencriptar {
        left: 650px;
    }
    .copiar{
        left: 675px;
    }
}